h1 {
    text-align: center;
    color: white;
}

.kozepre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}   

body{
    background-image: url(hatter.jpg);
}

h2 {
    color: white;
}

p {
    color: white;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    opacity: 60%;
    border-radius: 100%;
    background-color: skyblue;
    cursor: pointer;
}

.back-to-top:hover{
    opacity: 100%;
    transition: 0.5s;
}

.back-to-top:not(hover){
    opacity: 60%;
    transition: 0.5s;
}